.appointment-nav {
  background: #ffffff;
}
.appointment-div {
  background: url("../../images/Mask\ Group\ 2.png") no-repeat;
  background-size: contain;
}
.appointment-calender {
  height: 80vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}
.service-div{
    margin: 50px;
}
